<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <h1>Users</h1>
    <table>
        <thead>
            <tr>
                <th>User ID</th>
                <th>Name</th>
                <th>Privilege</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.user_id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.privilege }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <form action="" method="post">
        <input type="text" name="name" placeholder="Name">
        <input type="number" name="user_id" id="" placeholder="ID">
        <input type="password" name="password" id="" placeholder="password">
        <input type="submit" value="Submit">
    </form>

</body>
</html>